@model StoreModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Stores.EditStoreDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Stores");

    var showTour = ViewBag.showtour ?? false;
    if (showTour)
    {
        Html.AppendCssFileParts("~/lib_npm/shepherd.js/css/shepherd.css");
        Html.AppendScriptParts("~/lib_npm/shepherd.js/js/shepherd.min.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.dataprovider.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.store.js");

        <script asp-location="Footer">
            var localized_data = {
                Back: '@T("Admin.ConfigurationSteps.Back")',
                NextStep: '@T("Admin.ConfigurationSteps.NextStep")',
                NextPage: '@T("Admin.ConfigurationSteps.NextPage")',

                StoreNameTitle: '@T("Admin.ConfigurationSteps.Store.Name.Title")',
                StoreNameText: '@T("Admin.ConfigurationSteps.Store.Name.Text")',

                StoreUrlTitle: '@T("Admin.ConfigurationSteps.Store.Url.Title")',
                StoreUrlText: '@T("Admin.ConfigurationSteps.Store.Url.Text")',

                StoreSslTitle: '@T("Admin.ConfigurationSteps.Store.Ssl.Title")',
                StoreSslText: '@T("Admin.ConfigurationSteps.Store.Ssl.Text")',
            };

            AdminTourDataProvider.init(localized_data);
        </script>
    }
}

<form asp-controller="Store" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Stores.EditStoreDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.Stores.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="store-delete" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.StoreDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="store-delete" />