@model SpecificationFilterModel

@*@inject Nop.Core.Domain.Catalog.CatalogSettings catalogSettings

@{
    var notFilteredItemsGroups = Model.Attributes.GroupBy(x => x.Name);
}

@if (Model.Enabled)
{
    <div class="product-filter product-spec-filter">
        <div class="filter-title">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </div>
        <div class="filter-content">
            @if (Model.Attributes.Count > 0)
            {
                <div class="available-items">
                    @foreach (var group in notFilteredItemsGroups)
                    {
                        var groupList = group.ToList();

                        <ul class="group product-spec-group @(groupList.Any(x => !string.IsNullOrEmpty(x.SpecificationAttributeOptionColorRgb)) ? "product-spec-color" : null )">
                            <li class="title">
                                <strong>@groupList[0].Name</strong>
                            </li>
                            @foreach (var spec in groupList)
                            {
                                <li class="item @(!string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb) ? "color-item" : null)">
                                    <a href="@spec.FilterUrl">
                                        @if (string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb))
                                        {
                                            @spec.SpecificationAttributeOptionName
                                        }
                                        else
                                        {
                                            <label for="attribute-option-@spec.SpecificationAttributeOptionId" class="attribute-squares color-squares">
                                                <span class="attribute-square-container" title="@spec.SpecificationAttributeOptionName">
                                                    <span class="attribute-square" style="background-color: @(spec.SpecificationAttributeOptionColorRgb);">&nbsp;</span>
                                                </span>
                                                @if (catalogSettings.UseAjaxCatalogProductsLoading)
                                                {
                                                    <input id="attribute-option-@spec.SpecificationAttributeOptionId" type="checkbox" data-option-id="@spec.SpecificationAttributeOptionId" style="display:none;" />
                                                }
                                            </label>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
}*@
