@model Nop.Plugin.Shipping.FixedByWeightByTotal.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";

    var showTour = ViewBag.showtour ?? false;
    if (showTour)
    {
        Html.AppendCssFileParts("~/lib_npm/shepherd.js/css/shepherd.css");
        Html.AppendScriptParts("~/lib_npm/shepherd.js/js/shepherd.min.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.dataprovider.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.shippingmanual.js");

        <script asp-location="Footer">
            var localized_data = {
                Back: '@T("Admin.ConfigurationSteps.Back")',
                NextStep: '@T("Admin.ConfigurationSteps.NextStep")',
                NextPage: '@T("Admin.ConfigurationSteps.NextPage")',

                ConfigureManualSwitchTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.Switch.Title")',
                ConfigureManualSwitchText: '@T("Admin.ConfigurationSteps.ConfigureManual.Switch.Text")',

                ConfigureManualFixedRateTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.FixedRate.Title")',
                ConfigureManualFixedRateText: '@T("Admin.ConfigurationSteps.ConfigureManual.FixedRate.Text")',

                ConfigureManualByWeightTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.ByWeight.Title")',
                ConfigureManualByWeightText: '@T("Admin.ConfigurationSteps.ConfigureManual.ByWeight.Text")',

                ConfigureManualMethodsTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.Methods.Title")',
                ConfigureManualMethodsText: '@T("Admin.ConfigurationSteps.ConfigureManual.Methods.Text")',

                ConfigureManualEditTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.Edit.Title")',
                ConfigureManualEditText: '@T("Admin.ConfigurationSteps.ConfigureManual.Edit.Text")',

                ConfigureManualManageTitle: '@T("Admin.ConfigurationSteps.ConfigureManual.Manage.Title")',
                ConfigureManualManageText: '@T("Admin.ConfigurationSteps.ConfigureManual.Manage.Text")',
            };

            AdminTourDataProvider.init(localized_data);
        </script>
    }
}

<div class="row">
    <div class="col-md-3">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="advanced-settings-mode" checked="@Model.ShippingByWeightByTotalEnabled">
            <label class="onoffswitch-label" for="advanced-settings-mode">
                <span class="onoffswitch-inner"
                      data-locale-basic="@T("Plugins.Shipping.FixedByWeightByTotal.Fixed")"
                      data-locale-advanced="@T("Plugins.Shipping.FixedByWeightByTotal.ShippingByWeight")"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-md-9">
        <div class="pull-right">
            <a asp-controller="Shipping" asp-action="Methods" class="btn btn-primary" id="manage-shipping-methods-button">
                <i class="fa fa-truck"></i>
                @T("Admin.Configuration.Shipping.Methods.Manage")
            </a>
            <a asp-controller="Shipping" asp-action="Restrictions" class="btn btn-primary">
                <i class="fa fa-globe"></i>
                @T("Admin.Configuration.Shipping.Restrictions")
            </a>
        </div>
    </div>
</div>

<script>
    function checkAdvancedSettingsMode(advanced) {
        if (advanced) {
            $("body").addClass("advanced-settings-mode");
            $("body").removeClass("basic-settings-mode");
        } else {
            $("body").removeClass("advanced-settings-mode");
            $("body").addClass("basic-settings-mode");
        }
    }

    checkAdvancedSettingsMode($("#advanced-settings-mode").is(':checked'));
    $(document)
        .ready(function() {
            $("#advanced-settings-mode")
                .click(function() {
                    checkAdvancedSettingsMode($(this).is(':checked'));
                    $.ajax({
                        cache: false,
                        url: "@Url.Action("SaveMode", "FixedByWeightByTotal")",
                        type: "POST",
                        data: {
                            value: $(this).is(':checked')
                        },
                        dataType: "json",
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#saveModeAlert").click();
                        }
                    });
                    ensureDataTablesRendered();
                });
        });
</script>

<nop-alert asp-alert-id="saveModeAlert" asp-alert-message="@T("Admin.Common.Alert.Save.Error")" />

@await Html.PartialAsync("~/Plugins/Shipping.FixedByWeightByTotal/Views/_FixedRate.cshtml")
@await Html.PartialAsync("~/Plugins/Shipping.FixedByWeightByTotal/Views/_ByWeightByTotal.cshtml", Model)
