@model EmailAccountModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.EmailAccounts.EditEmailAccountDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Email accounts");

    var showTour = ViewBag.showtour ?? false;
    if (showTour)
    {
        Html.AppendCssFileParts("~/lib_npm/shepherd.js/css/shepherd.css");
        Html.AppendScriptParts("~/lib_npm/shepherd.js/js/shepherd.min.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.dataprovider.js");
        Html.AppendScriptParts("~/js/admintour/admin.tour.emailaccount.js");

    <script asp-location="Footer">
            var localized_data = {
                Back: '@T("Admin.ConfigurationSteps.Back")',
                NextStep: '@T("Admin.ConfigurationSteps.NextStep")',
                NextPage: '@T("Admin.ConfigurationSteps.NextPage")',

                EmailAccountEmailAddressTitle: '@T("Admin.ConfigurationSteps.EmailAccount.EmailAddress.Title")',
                EmailAccountEmailAddressText: '@T("Admin.ConfigurationSteps.EmailAccount.EmailAddress.Text")',

                EmailAccountDisplayNameTitle: '@T("Admin.ConfigurationSteps.EmailAccount.DisplayName.Title")',
                EmailAccountDisplayNameText: '@T("Admin.ConfigurationSteps.EmailAccount.DisplayName.Text")',

                EmailAccountHostTitle: '@T("Admin.ConfigurationSteps.EmailAccount.Host.Title")',
                EmailAccountHostText: '@T("Admin.ConfigurationSteps.EmailAccount.Host.Text")',

                EmailAccountPortTitle: '@T("Admin.ConfigurationSteps.EmailAccount.Port.Title")',
                EmailAccountPortText: '@T("Admin.ConfigurationSteps.EmailAccount.Port.Text")',

                EmailAccountUsernameTitle: '@T("Admin.ConfigurationSteps.EmailAccount.Username.Title")',
                EmailAccountUsernameText: '@T("Admin.ConfigurationSteps.EmailAccount.Username.Text")',

                EmailAccountPasswordTitle: '@T("Admin.ConfigurationSteps.EmailAccount.Password.Title")',
                EmailAccountPasswordText: '@T("Admin.ConfigurationSteps.EmailAccount.Password.Text")',

                EmailAccountUseSslTitle: '@T("Admin.ConfigurationSteps.EmailAccount.UseSsl.Title")',
                EmailAccountUseSslText: '@T("Admin.ConfigurationSteps.EmailAccount.UseSsl.Text")',

                EmailAccountDefaultCredentialsTitle: '@T("Admin.ConfigurationSteps.EmailAccount.DefaultCredentials.Title")',
                EmailAccountDefaultCredentialsText: '@T("Admin.ConfigurationSteps.EmailAccount.DefaultCredentials.Text")',

                EmailAccountTestEmailTitle: '@T("Admin.ConfigurationSteps.EmailAccount.TestEmail.Title")',
                EmailAccountTestEmailText: '@T("Admin.ConfigurationSteps.EmailAccount.TestEmail.Text")',
            };

            AdminTourDataProvider.init(localized_data);
    </script>
    }
}

<form asp-controller="EmailAccount" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.EmailAccounts.EditEmailAccountDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.EmailAccounts.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="emailAccount-delete" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.EmailAccountDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="emailAccount-delete" />
